/* Css Reset */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  position: relative;
}

main {
  flex: 1;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
  width: 100%;
}

button {
  text-transform: none;
  line-height: normal;
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  width: 100%;
}

h2 {
  font-weight: bold;
  font-size: 1.8rem;
}

.bodytitle {
  font-size: 3rem;
  font-weight: bold;
  top: 0;
  margin-top: 2rem;
  text-align: center;
}

.jokebox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 1rem;
  -webkit-box-shadow: 6px 5px 50px 10px rgba(0, 0, 0, 0.36);
  box-shadow: 6px 5px 50px 10px rgba(0, 0, 0, 0.36);
  -webkit-border-radius: 10px 25px 10px 10px;
  -moz-border-radius: 10px 25px 10px 10px;
  border-radius: 10px 25px 10px 10px;
  margin-bottom: 2.5rem;
}

.reddit {
  text-align: center;
}

.jokebox img {
  max-width: 100px;
}

.laugh {
  max-width: 50px;
  margin: 2rem 0;
}

#getrandom {
  color: #fff;
  background: #000;
  border-radius: 1rem;
  font-size: 1rem;
  width: 100%;
  border: none;
  max-width: 200px;
  padding: 1rem;
  margin: 2rem;
}
